@charset "utf-8";
@import "@/styles/variables";

.gHeader {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    @include tabletP {
      padding: 20px 20px;
    }
  }
  &__title {
    font-family: $fontEn;
    font-style: italic;
    font-weight: 500;
  }
}

.gNav {
  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    @include tabletP {
      gap: 13px;
    }
  }
  &__link {
    font-family: $fontEn;
    color: nth($mainColor, 1);
    text-decoration: none;
  }
}
