@charset "utf-8";
@import "@/styles/variables";

.myBlog {
  &__title {
    font-weight: 700;
    @include fz(26);
    margin-bottom: 15px;
  }
  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
  }
  &__date {
    @include fz(13);
    font-family: $fontEn;
    font-weight: 500;
    color: #9b9b9b;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    @include tabletP {
      gap: 5px;
    }
  }
  &__item {
    display: inline-block;
    @include fz(15);
    font-family: $fontEn;
    font-weight: 500;
    padding: 2px 13px;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
  }
}

.myZnc {
  line-height: 1.6;
}
