@charset "utf-8";
@import "@/styles/variables";

.gFooter {
  padding: 0 30px;
  @include tabletP {
    padding: 0 20px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dbdbdb;
    padding: 27px 0;
    @include tabletP {
      padding: 25px 0;
    }
  }
  &__copy {
    font-family: $fontEn;
    color: #9b9b9b;
    font-weight: 500;
    @include tabletP {
      @include fz(13);
    }
  }
}
