@charset "utf-8";
@import "@/styles/variables";

.gFooter {
  margin-left: auto;
  margin-right: auto;
  max-width: $container;
  padding-left: #{$containerPadding}px;
  padding-right: #{$containerPadding}px;
  width: 100%;
  @include tabletP {
    padding-left: #{$containerPaddingSp}px;
    padding-right: #{$containerPaddingSp}px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #dbdbdb;
    padding: 27px 0;
    @include tabletP {
      padding: 25px 0;
    }
  }
  &__copy {
    font-family: $fontEn;
    color: #9b9b9b;
    font-weight: 400;
    @include fz(14);
    @include tabletP {
      @include fz(13);
    }
  }
  &__logo {
    svg {
      max-width: 160px;
    }
  }
}
