@charset "utf-8";
@import "@/styles/variables";

@keyframes iconAnime {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
}

.myAbout {
  $_: ".myAbout";

  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    background: url(#{$cmnPath}bg01.svg) no-repeat center;
    background-size: 800px 800px;
    width: 800px;
    height: 800px;
    position: absolute;
    top: -40px;
    right: 2vw;
    @include max(1500) {
      background-size: 600px 600px;
      width: 600px;
      height: 600px;
      right: -200px;
    }
    @include tabletP {
      background-size: 430px 430px;
      width: 430px;
      height: 430px;
      left: unset;
      top: 0;
      right: -100px;
    }
  }

  &__head {
    margin-bottom: 50px;
  }
  &__title {
    font-family: $fontEn;
    font-weight: 500;
    @include fz(24);
  }
  &__lead {
    font-family: $fontEn;
    font-weight: 500;
    @include fz(35);
    margin-bottom: 30px;
    @include tabletP {
      line-height: 1.6;
    }
    &Icon {
      display: inline-block;
      animation: iconAnime 1s linear infinite;
      position: relative;
      top: -5px;
      @include fz(23);
    }
  }
  &__txtArea {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  &__txtEn {
    font-family: $fontEn;
    font-weight: 500;
    @include fz(15);
    margin-bottom: 30px;
  }
  &__txtJa {
    font-weight: 500;
    @include fz(14);
  }
  &__link {
    display: inline-block;
    margin-top: 50px;
    &:hover {
      opacity: 1;
      #{$_}__linkIcon {
        width: 7px;
        height: 7px;
        top: -2px;
        &:after {
          opacity: 0;
        }
      }
    }
    &Icon {
      display: inline-block;
      position: relative;
      top: 4px;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 17px;
      height: 17px;
      background-color: #007fff;
      border-radius: 50%;
      margin-left: 6px;
      overflow: hidden;
      transition: all 0.2s cubic-bezier(0.23, 1, 0.58, 1);
      @include tabletP {
        width: 16px;
        height: 16px;
        top: 2.5px;
      }

      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 20px;
        height: 20px;
        background-image: url(#{$cmnPath}ico_circle_arrow.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 0 0;
        @include tabletP {
          width: 18px;
          height: 18px;
          background-size: 18px 18px;
        }
      }
    } //icon
  }
}
