@charset "utf-8";
@import "@/styles/variables";

.myBlog {
  &__head {
    margin-bottom: 20px;
  }
  &__title {
    font-family: $fontEn;
    font-weight: 500;
    @include fz(24);
  }
  &__lead {
    color: #9b9b9b;
    @include fz(15);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
  }

  &__item {
    width: 100%;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $baseColor;
    &Title {
      font-weight: 500;
      @include fz(19);
      margin-bottom: 12px;
    }
    &Inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &List {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;
    }
    &Item {
      @include fz(15);
      font-family: $fontEn;
      font-weight: 500;
      padding: 2px 13px;
      border: 1px solid #dbdbdb;
      border-radius: 20px;
    }
    &Date {
      @include fz(15);
      font-family: $fontEn;
      font-weight: 500;
      color: #9b9b9b;
    }
  }
}
