@charset "utf-8";
@import "@/styles/variables";

.myBlog {
  $_: ".myBlog";
  &__head {
    margin-bottom: 50px;
  }
  &__title {
    font-family: $fontEn;
    font-weight: 500;
    @include fz(24);
  }
  &__lead {
    color: #9b9b9b;
    @include fz(15);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
  }

  &__item {
    width: 100%;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $baseColor;
    &:hover {
      opacity: 1;
      #{$_}__linkIcon {
        width: 7px;
        height: 7px;
        top: -3px;
        &:after {
          opacity: 0;
        }
      }
    }
    &Title {
      font-weight: 500;
      @include fz(19);
      margin-bottom: 12px;
      @include tabletP {
        @include fz(16);
      }
    }
    &Inner {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: flex-end;
    }
    &List {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;
      @include tabletP {
        gap: 5px;
      }
    }
    &Item {
      @include fz(15);
      font-family: $fontEn;
      font-weight: 500;
      padding: 2px 13px;
      border: 1px solid #dbdbdb;
      border-radius: 20px;
      @include tabletP {
        @include fz(11);
        padding: 0px 8px;
        border-radius: 15px;
      }
    }
    &Date {
      @include fz(15);
      font-family: $fontEn;
      font-weight: 500;
      color: #9b9b9b;
      @include tabletP {
        @include fz(12);
      }
    }
    &Icon {
      display: inline-block;
      position: relative;
      top: 2px;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 17px;
      height: 17px;
      background-color: #dbdbdb;
      border-radius: 50%;
      margin-left: 12px;
      overflow: hidden;
      transition: all 0.2s cubic-bezier(0.23, 1, 0.58, 1);
      @include tabletP {
        width: 16px;
        height: 16px;
        margin-left: 12px;
      }

      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1.5px;
        width: 20px;
        height: 20px;
        background-image: url(#{$cmnPath}ico_circle_arrow.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 0 0;
        @include tabletP {
          width: 18px;
          height: 18px;
          background-size: 18px 18px;
          left: -1px;
        }
      }
    } //icon
  }

  // &__catList {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: flex-start;
  //   gap: 7px;
  //   margin-bottom: 30px;
  // }
  // &__catItem {
  //   width: calc((100% - 14px) / 3);

  //   @include tabletP {
  //     width: calc((100% - 7px) / 2);
  //   }
  //   &Link {
  //     display: block;
  //     width: 100%;
  //     padding: 10px;
  //     text-decoration: none;
  //     border: 2px solid #dbdbdb;
  //     border-radius: 8px;
  //     @include fz(13);
  //     color: #9b9b9b;
  //     font-family: $fontEn;
  //     font-weight: 500;
  //   }
  // }

  &__catList {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ccc;
  }

  &__catItem {
    position: relative;
    border-bottom: 1px solid #ccc;
  }

  &__catItemButton {
    display: inline-block;
    width: 110px;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    background-color: #007fff;
    color: #ffffff;
    @include fz(14);
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f3f3f3;
      color: #007fff;
    }
  }
  &__subCatList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #f7f7f7;
    transform-origin: top;
    border-radius: 4px;
    margin-top: 10px;
    &.enter {
      opacity: 0;
      transform: translateY(-20px);
    }

    &.enterActive {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 300ms, transform 300ms;
    }

    &.exit {
      opacity: 1;
      transform: translateY(0);
    }

    &.exitActive {
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 300ms, transform 300ms;
    }
  }
  &__subCatItem {
    padding: 0.5em 1em;

    &:hover {
      background: #eee;
    }
    a {
      color: #333;
      text-decoration: none;
    }
  }
  &__catArea {
    margin-bottom: 30px;
  }
}
