@charset "utf-8";
@import "./variables.scss";

// ----------- init

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
figure,
figcaption,
button,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}

th {
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
th {
  text-align: left;
}
main,
aside {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
img,
fieldset {
  border: 0;
}
img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
li {
  list-style-type: none;
}

textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="submit"],
select,
button {
  appearance: none;
}
input[type="submit"],
button,
label,
select {
  cursor: pointer;
}
input[type="submit"],
button {
  &:hover {
  }
}
select {
  &::-ms-expand {
    display: none;
  }
}
br {
  line-height: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix {
  @include clearfix;
}
:where(
    button,
    button[type],
    input[type="button"],
    input[type="submit"],
    input[type="reset"]
  )[disabled] {
  cursor: not-allowed;
}
// reset_end

/* link
------------------------------------------------------------*/
a {
  color: $baseLinkColor;
  text-decoration: underline;
  transition: all 0.15s ease-out;
  &:hover {
    text-decoration: none;
  }
}
a,
button {
  &:hover {
    opacity: 0.8;
    @include tabletL {
      opacity: 1;
    }
  }
}

/* Fonts
------------------------------------------------------------*/
body {
  color: $baseColor;
  @include fz;
  font-family: $baseFontFamily;
  font-weight: 400;
  line-height: $baseLineHeight;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  background-color: #fff;
  position: relative;
}

#__next {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  margin-top: 30px;
  margin-bottom: 50px;
  flex: 1;
  @include tabletP {
    margin-top: 42px;
  }
}

input,
button,
textarea,
select {
  color: $baseColor;
  font-family: $baseFontFamily;
  line-height: $baseLineHeight;
  font-size: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container;
  padding-left: #{$containerPadding}px;
  padding-right: #{$containerPadding}px;
  @include tabletP {
    padding-left: #{$containerPaddingSp}px;
    padding-right: #{$containerPaddingSp}px;
  }
}

br {
  &.pc {
    @include tabletP {
      display: none;
    }
  }
  &.sp {
    @include tabletPmin {
      display: none;
    }
  }
}

[role="tabpanel"] {
  &[aria-hidden="true"] {
    display: none;
  }
  &[aria-hidden="false"] {
    display: block;
  }
}

a[href*="tel:"] {
  @include sphonePmin {
    pointer-events: none;
  }
}

/* Tocbot
------------------------------------------------------------*/

.toc-accordion {
  overflow: hidden;
  height: 0;
  transition: height 0.2s ease-out;
}
