@charset "utf-8";
@import "@/styles/variables";

.myBlog {
  &__title {
    font-weight: 700;
    @include fz(26);
    margin-bottom: 15px;
    @include tabletP {
      @include fz(23);
      margin-bottom: 13px;
    }
  }
  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    @include tabletP {
      margin-bottom: 25px;
    }
  }
  &__date {
    @include fz(13);
    font-family: $fontEn;
    font-weight: 500;
    color: #9b9b9b;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    @include tabletP {
      gap: 5px;
    }
  }
  &__item {
    display: inline-block;
    @include fz(14);
    font-family: $fontEn;
    font-weight: 500;
    padding: 1px 12px;
    border: 1px solid #dbdbdb;
    background: #dbdbdb;
    border-radius: 20px;
    @include tabletP {
      @include fz(11);
      padding: 1px 8px;
    }
  }

  &__toc {
    transition: all 0.2s ease-out;
  }
}

.myZnc {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
}
